@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
header {
  padding: 2rem;
  padding-bottom: 15rem;
  background-image: url("../images/image-hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .headerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerFlexContainer button {
  border: none;
  background-color: transparent;
}

header .headerFlexContainer button img {
  position: relative;
  z-index: 500;
}

header .headerFlexContainer #btnToggleMobileMenu {
  position: relative;
  width: 16px;
  height: 16px;
}

header .headerFlexContainer #btnToggleMobileMenu:hover, header .headerFlexContainer #btnToggleMobileMenu:focus {
  cursor: pointer;
  outline: 1px solid red;
}

header .headerFlexContainer.isOpen {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header .headerFlexContainer.isOpen #imgHeaderLogo {
  z-index: 1000;
}

header .headerFlexContainer.isOpen #btnToggleMobileMenu {
  z-index: 1000;
}

header .headerFlexContainer.isOpen nav {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: white;
  z-index: 500;
}

header .headerFlexContainer.isOpen nav a {
  padding: 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .headerFlexContainer.isOpen nav a:nth-child(2) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

header .headerFlexContainer.isOpen nav a:hover, header .headerFlexContainer.isOpen nav a:focus {
  color: red;
}

header .headerFlexContainer.isOpen nav a:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  text-decoration: underline;
}

@media screen and (min-width: 40rem) {
  header {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-image: url("../images/image-hero-desktop.jpg");
  }
  header #btnToggleMobileMenu {
    display: none;
  }
  header nav {
    display: initial;
  }
  header nav a {
    margin-left: 3rem;
    font-weight: 500;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header nav a:hover, header nav a:focus {
    text-decoration: underline;
  }
  header nav a:active {
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    color: red;
  }
}

@media screen and (min-width: 50rem) {
  header .headerFlexContainer {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (min-width: 64rem) {
  header {
    padding-bottom: 20rem;
  }
}

@media screen and (min-width: 80rem) {
  header .headerFlexContainer {
    width: 64rem;
  }
}

section#title {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
  position: relative;
  padding-top: 3rem;
  top: -3rem;
  text-align: center;
  z-index: 0;
}

section#title::before {
  position: absolute;
  content: url("../images/logo-mastercraft.svg");
  top: -1.5rem;
  left: 0;
  right: 0;
}

section#title h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

section#title p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section#title .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#title .flexContainer #btnBackProject {
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #3cb4ac;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#title .flexContainer #btnBackProject:hover, section#title .flexContainer #btnBackProject:focus {
  background-color: #147b74;
  cursor: pointer;
}

section#title .flexContainer #btnBackProject:active {
  -webkit-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
  color: red;
}

section#title .flexContainer #btnBookmarkProject {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#title .flexContainer #btnBookmarkProject.active svg circle {
  fill: #147b74;
}

section#title .flexContainer #btnBookmarkProject.active svg path {
  fill: white;
}

section#title .flexContainer #btnBookmarkProject:hover, section#title .flexContainer #btnBookmarkProject:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 0 8px 3px #3cb4ac;
          box-shadow: 0px 0 8px 3px #3cb4ac;
}

@media screen and (min-width: 30rem) {
  section#title {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 50rem) {
  section#title {
    width: 46rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 50rem) {
  section#title p {
    margin-bottom: 2rem;
  }
  section#title .flexContainer #btnBookmarkProject {
    width: 180px;
    text-align: left;
  }
  section#title .flexContainer #btnBookmarkProject::after {
    position: relative;
    content: "Bookmark";
    top: -18px;
    left: 18px;
    font-size: 1rem;
    color: #2f2f2f;
    font-weight: 700;
  }
  section#title .flexContainer #btnBookmarkProject.active::after {
    color: #147b74;
    content: "Bookmarked";
    left: 11px;
  }
}

section#stats {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
  margin-bottom: 2.5rem;
  padding: 1rem;
  text-align: center;
}

section#stats .flexContainer .textblock {
  padding: 1rem;
}

section#stats .flexContainer .textblock h1 {
  font-size: 2rem;
  font-weight: 700;
}

section#stats .flexContainer .textblock:nth-child(2) {
  position: relative;
}

section#stats .flexContainer .textblock:nth-child(2)::before {
  position: absolute;
  margin: 0 auto;
  width: 90px;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid lightgray;
}

section#stats .flexContainer .textblock:nth-child(2)::after {
  position: absolute;
  margin: 0 auto;
  width: 90px;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid lightgray;
}

section#stats .progressbar {
  margin: 1rem;
  height: 20px;
  border-radius: 10px;
  background-color: lightgray;
}

section#stats .progressbar .progressbarFilled {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-color: #3cb4ac;
}

@media screen and (min-width: 30rem) {
  section#stats {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 50rem) {
  section#stats {
    width: 46rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 50rem) {
  section#stats {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  section#stats .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  section#stats .flexContainer .textblock {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3rem;
  }
  section#stats .flexContainer .textblock:not(:nth-child(1)) {
    padding-left: 3rem;
  }
  section#stats .flexContainer .textblock:nth-child(2) {
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
  }
  section#stats .flexContainer .textblock:nth-child(2)::before {
    position: unset;
    content: unset;
  }
  section#stats .flexContainer .textblock:nth-child(2)::after {
    position: unset;
    content: unset;
  }
  section#stats .progressbar {
    padding: 0;
  }
}

section#about {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
  padding-bottom: 0.5rem;
}

section#about p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

section#about .card {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
}

section#about .card span.numberLeft {
  margin-right: 4px;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: middle;
  color: black;
}

section#about .card button {
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #3cb4ac;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  width: 150px;
}

section#about .card button:hover, section#about .card button:focus {
  background-color: #147b74;
  cursor: pointer;
}

section#about .card button:active {
  -webkit-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
  color: red;
}

section#about .card.disabled {
  opacity: 0.5;
  pointer-events: none;
}

section#about .card.disabled button {
  background-color: lightgray;
}

@media screen and (min-width: 30rem) {
  section#about {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 50rem) {
  section#about {
    width: 46rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 50rem) {
  section#about {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  section#about .card {
    padding: 2rem;
  }
  section#about .card .flexContainerCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#about .card .flexContainerCard .pledge {
    margin: 0;
  }
}

section#modalBackingProject {
  display: none;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
}

section#modalBackingProject.showModal {
  display: initial;
}

section#modalBackingProject .flexContainerModalTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#modalBackingProject .flexContainerModalTitle img {
  width: 15px;
  height: 15px;
}

section#modalBackingProject .flexContainerModalTitle img:hover, section#modalBackingProject .flexContainerModalTitle img:focus {
  cursor: pointer;
  outline: 2px solid #3cb4ac;
}

section#modalBackingProject p {
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

section#modalBackingProject .card {
  position: relative;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
}

section#modalBackingProject .card .gridContainerCardTitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "radio textBox" "para para" "left left";
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#modalBackingProject .card .gridContainerCardTitle input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: radio;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

section#modalBackingProject .card .gridContainerCardTitle .textBlock {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textBox;
}

section#modalBackingProject .card .gridContainerCardTitle .textBlock label:focus, section#modalBackingProject .card .gridContainerCardTitle .textBlock label:hover {
  cursor: pointer;
}

section#modalBackingProject .card .gridContainerCardTitle .textBlock label:focus h4, section#modalBackingProject .card .gridContainerCardTitle .textBlock label:hover h4 {
  color: #3cb4ac;
}

section#modalBackingProject .card .gridContainerCardTitle .textBlock label:active h4 {
  color: red;
}

section#modalBackingProject .card .gridContainerCardTitle .textBlock .pledge {
  margin-top: 0;
}

section#modalBackingProject .card .gridContainerCardTitle p:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: para;
}

section#modalBackingProject .card .gridContainerCardTitle p:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left;
}

section#modalBackingProject .card .gridContainerCardTitle span.numberLeft {
  margin-right: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  vertical-align: middle;
}

section#modalBackingProject .card .pledgeSubmit {
  display: none;
  max-height: 0px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer {
  margin-top: 1rem;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer p {
  margin: 1.5rem;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer {
  margin-bottom: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer input {
  margin-right: 28px;
  padding-left: 25px;
  padding-right: 4px;
  width: 85px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer .no-spinners {
  -moz-appearance: textfield;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer .no-spinners::-webkit-outer-spin-button,
section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer .no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer::before {
  position: absolute;
  content: "$";
  left: 10px;
  bottom: 16px;
  color: lightgray;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button {
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #3cb4ac;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100px;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button:hover, section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button:focus {
  background-color: #147b74;
  cursor: pointer;
}

section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button:active {
  -webkit-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
  color: red;
}

section#modalBackingProject .card.disabled {
  opacity: 0.5;
  pointer-events: none;
}

section#modalBackingProject .card.cardActivated {
  -webkit-box-shadow: 0 0 5px 3px #3cb4ac;
          box-shadow: 0 0 5px 3px #3cb4ac;
}

section#modalBackingProject .card.cardActivated .pledgeSubmit {
  display: block;
  max-height: 150px;
}

section#modalBackingProject .card.cardActivated::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 9rem;
  border: 1px solid lightgray;
}

@media screen and (min-width: 30rem) {
  section#modalBackingProject {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 50rem) {
  section#modalBackingProject {
    width: 46rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 30rem) {
  section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer input {
    width: 100px;
  }
  section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button {
    width: 180px;
  }
}

@media screen and (min-width: 50rem) {
  section#modalBackingProject {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  section#modalBackingProject .card {
    padding: 2rem;
  }
  section#modalBackingProject .card .gridContainerCardTitle {
    -ms-grid-columns: 30px auto 65px;
        grid-template-columns: 30px auto 65px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "radio textBox left" ". para para";
  }
  section#modalBackingProject .card .gridContainerCardTitle .textBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#modalBackingProject .card .gridContainerCardTitle .textBlock .pledge {
    margin-left: 10px;
  }
  section#modalBackingProject .card .gridContainerCardTitle p:nth-child(4) {
    margin: 0;
    text-align: right;
  }
  section#modalBackingProject .card .pledgeSubmit {
    padding-bottom: 0;
  }
  section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#modalBackingProject .card .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer button {
    width: 120px;
  }
  section#modalBackingProject .card.cardActivated .pledgeSubmit .pledgeFlexContainer {
    padding-bottom: 8px;
    padding-right: 8px;
  }
  section#modalBackingProject .card.cardActivated .pledgeSubmit .pledgeFlexContainer p {
    margin: 0;
  }
  section#modalBackingProject .card.cardActivated .pledgeSubmit .pledgeFlexContainer .pledgeInputButtonContainer {
    margin-bottom: 0;
  }
  section#modalBackingProject .card.cardActivated::after {
    bottom: 7rem;
  }
}

section#modalThankYou {
  display: none;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px 1px lightgray;
          box-shadow: 0 0 5px 1px lightgray;
  text-align: center;
}

section#modalThankYou.showModal {
  display: initial;
}

section#modalThankYou h3 {
  margin-top: 1rem;
}

section#modalThankYou p {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 22px;
}

section#modalThankYou button {
  color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #3cb4ac;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  width: 100px;
}

section#modalThankYou button:hover, section#modalThankYou button:focus {
  background-color: #147b74;
  cursor: pointer;
}

section#modalThankYou button:active {
  -webkit-transition: color 0s ease-in-out;
  transition: color 0s ease-in-out;
  color: red;
}

@media screen and (min-width: 30rem) {
  section#modalThankYou {
    width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 50rem) {
  section#modalThankYou {
    width: 30rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
::before,
::after {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: black;
}

:focus {
  outline: none;
  -webkit-box-shadow: 0px 0 8px 3px #3cb4ac;
          box-shadow: 0px 0 8px 3px #3cb4ac;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.75rem;
  color: #7a7a7a;
}

.pledge {
  font-weight: 500;
  color: #3cb4ac;
}

body {
  position: relative;
}

body.overflowHidden {
  overflow: hidden;
}

body .darkoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

body .darkoverlay ~ header .headerFlexContainer img {
  z-index: 0;
}

body main {
  padding-bottom: 3rem;
  background-color: #fafafa;
}
/*# sourceMappingURL=main.css.map */