header {
  padding: 2rem;
  padding-bottom: 15rem;
  background-image: url("../images/image-hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .headerFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      background-color: transparent;

      img {
        position: relative;
        z-index: 500;
      }
    }

    #btnToggleMobileMenu {
      position: relative;
      width: 16px;
      height: 16px;

      &:hover,
      &:focus {
        cursor: pointer;
        outline: 1px solid $moderateCyan;
      }
    }

    &.isOpen {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      #imgHeaderLogo {
        z-index: 1000;
      }

      #btnToggleMobileMenu {
        z-index: 1000;
      }

      nav {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: white;
        z-index: 500;

        a {
          padding: 1.5rem;
          font-size: 1.1rem;
          font-weight: 500;
          transition: color 0.3s ease-in-out;

          &:nth-child(2) {
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
          }

          &:hover,
          &:focus {
            color: hsl(176, 50%, 47%);
          }
          &:active {
            transition: all 0s ease-in-out;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (min-width: 40rem) {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-image: url("../images/image-hero-desktop.jpg");

    #btnToggleMobileMenu {
      display: none;
    }

    nav {
      display: initial;

      a {
        margin-left: 3rem;
        font-weight: 500;
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:active {
          transition: all 0s ease-in-out;
          color: $moderateCyan;
        }
      }
    }
  }

  @media screen and (min-width: 50rem) {
    .headerFlexContainer {
      margin: 0 auto;
      width: 90%;
    }
  }

  @media screen and (min-width: 64rem) {
    padding-bottom: 20rem;
  }

  @media screen and (min-width: 80rem) {
    .headerFlexContainer {
      width: 64rem;
    }
  }
}
