section#stats {
  @include sectionBorderMarginPadding;
  margin-bottom: 2.5rem;
  padding: 1rem;
  text-align: center;

  .flexContainer {
    .textblock {
      padding: 1rem;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

      &:nth-child(2) {
        position: relative;
        
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          width: 90px;
          margin: 0 auto;
          border: 1px solid lightgray;
        }

        &::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: 0;
          width: 90px;
          margin: 0 auto;
          border: 1px solid lightgray;
        }
      }
    }
  }
  .progressbar {
    height: 20px;
    margin: 1rem;

    background-color: lightgray;
    border-radius: 10px;

    .progressbarFilled {
      width: 60%;
      height: 100%;
      border-radius: 10px;
      background-color: $moderateCyan;
    }
  }
}
