section#about {
  @include sectionBorderMarginPadding;
  padding-bottom: 0.5rem;

  p {
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .card {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px lightgray;

    span.numberLeft {
      margin-right: 4px;
      font-size: 2rem;
      font-weight: 700;
      vertical-align: middle;
      color: $black;
    }

    button {
      @include btnStyleGreen;
      @include btnHoverFocusActive;
      margin-top: 1rem;
      width: 150px;
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;

      button {
        background-color: lightgray;
      }
    }
  }

  @include mediaQuery30remSectionSize;
  @include mediaQuery50remSectionSize;

  @media screen and (min-width: 50rem) {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .card {
      padding: 2rem;

      .flexContainerCard {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pledge {
          margin: 0;
        }
      }
    }
  }
}
