@import "colors";
@import "fonts";
@import "mixins";

@import "1header";
@import "2sectionTitle";
@import "3sectionStats";
@import "4sectionAbout";
@import "5modalBacking";
@import "6modalThankYou";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font-family: 'Commissioner', sans-serif; 4 5 7

h1,
h2,
h3,
h4,
p,
a,
label,
::before,
::after {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: $black;
}

:focus {
  outline: none;
  box-shadow: 0px 0 8px 3px $moderateCyan;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.75rem;
  color: $darkGray;
}

.pledge {
  font-weight: 500;
  color: $moderateCyan;
}

body {
  position: relative;

  &.overflowHidden {
    overflow: hidden;
  }

  .darkoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;

    ~ header .headerFlexContainer img {
      z-index: 0;
    }
  }

  main {
    padding-bottom: 3rem;
    background-color: #fafafa;
  }
}
